<!-------------------------HOME HEADER----------------------------------->
<div class="aboutHeader mb-5">
  <div class="aboutData row justify-content-center align-items-center">
    <div>
      <h1>ABOUT US</h1>
    </div>
  </div>
</div>

<!-------------------------About US ----------------------------------->

<div class="aboutUs p-3">
  <div class="container m-auto">
    <div class="row YSKsec m-5">
      <div class="col-md-4">
        <div class="d-flex align-items-center p-5">
          <img src="../../../../assets/imgs/undraw_searching_p5ux.svg" />
        </div>
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div class="text-center">
          <h2>Our MISSION</h2>
          <p>
            We in "Find ME " believe that the value of anything is not only in
            its price , the value may be in memories that we had with that thing
            or files, work and so on. If anyone arrives his\her home and figure
            out that he\she forgot something belongs to him\her somewhere or
            does not find his wallet or her phone, you can not get it back in
            the most of cases but we aim to make it possible to happen.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------Founder Team----------------------------------->
<div class="founder p-5">
  <h1 class="text-center">Founder Team</h1>
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-4 p-3">
        <div class="founderCard p-3">
          <div>
            <img src="../../../../assets/imgs/undraw_profile_pic_ic5t.svg" />
          </div>
          <div>
            <h2>Poula Helmy</h2>
            <p>Founder</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="founderCard p-3">
          <div>
            <img src="../../../../assets/imgs/undraw_male_avatar_323b.svg" />
          </div>
          <div>
            <h2>Hossam Mahmoud</h2>
            <p>Founder</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="founderCard p-3">
          <div>
            <img src="../../../../assets/imgs/undraw_profile_pic_ic5t.svg" />
          </div>
          <div>
            <h2>Bashar Reda</h2>
            <p>Founder</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="founderCard p-3">
          <div>
            <img src="../../../../assets/imgs/undraw_male_avatar_323b.svg" />
          </div>
          <div>
            <h2>Beshoy Melad</h2>
            <p>Founder</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 p-3">
        <div class="founderCard p-3">
          <div>
            <img src="../../../../assets/imgs/undraw_profile_pic_ic5t.svg" />
          </div>
          <div>
            <h2>Beshoy Medhat</h2>
            <p>Founder</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
