<!-------------------------HOME HEADER----------------------------------->
<div class="contactHeader mb-5">
    
</div>
<section class="contact  p-5">

    <div>
        <h1 class="text-center">GET IN TOUCH!</h1>
        <div class="line m-auto "></div>
        <h2 style="font-weight: bolder ; font-size: 24px" class="text-center">How can we help you?</h2>

        <div class="contactInp  d-flex justify-content-center">
            <div style="background-color: white;" class="w-75 p-5">
                <div class="form-group">
                    <label>Name</label>
                        <input class="form-control" placeholder="Enter your name" style="height: 50px" />
                    </div>
                    <label>E-mail</label>
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your E-Mail" style="height: 50px" />
                    </div>
                    
                    <label>Your message</label>
                    <div class="form-group">    
                        <textarea id="inputMessage" class="form-control" placeholder="Enter your message"  style="height: 150px"></textarea>
                    </div>
                    
                    <button class="btn w-100 my-3 py-2">Send</button>   
            </div>        
        </div>

    </div>

</section>