<!-------------------------HOME HEADER----------------------------------->
<div class="homeHeader">
  <div class="homeData d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-12">
      <h1 class="col-12 col-md-6 mr-md-auto text-capitalize">
        We in Find ME believe that the value of anything is not only in its price
      </h1>
      <button class="btn-home  " style="color: white;" routerLink="/dashboard/items"> I LOST</button>
      <button class="btn-home2  " routerLink="/dashboard/items"> I FOUND</button>
    </div>
  </div>
</div>

<!-------------------------howWork----------------------------------->
<div class="sec__head container my-4">
  <div class="text-center my-4">
    <h4>HOW FIND ME HELP YOU</h4>
    <span>How it works</span>
  </div>
</div>
<!-------------------------howWork----------------------------------->
<div class="how__works container my-4">
  <div class="row d-flex justify-content-center align-items-start">
    <div class="col-12 col-md-4">
      <div class="how__work-section my-2">
        <i class="fas fa-2x fa-list-ul"></i>
        <div class="col-12 ">
          <h2>Report a lost or found item</h2>
          <p>Report a lost or found item Fill the declaration and give as much detail as
            possible (the location of loss, the type of item, the description) to help the algorithm to
            identify it fastly</p>
        </div>
      </div>
    </div>
    <!-- END OF COL    -->
    <div class="col-12 col-md-4">
      <div class="how__work-section my-2">
        <i class="fas fa-2x fa-user-shield"></i>
        <div class="col-12">
          <h2>Prove ownership of the item</h2>
          <p class="">Once the lost item "matched", prove who you are thanks to a security question
            (ex: describe the shell of your phone, ...). Then, our partner who found this item will be
            able to validate that this is yours</p>
        </div>
      </div>
    </div>
    <!-- END OF COL    -->
    <div class="col-12 col-md-4">
      <div class="how__work-section my-2">
        <i class="fas fa-2x fa-handshake"></i>
        <div class="col-12">
          <h2>Get it!</h2>
          <p class="last-p">As soon as you are authenticated, you receive the information to pick it up or
            have it delivered. Remember to communicate the reference's number found</p>
        </div>
      </div>
    </div>
    <!-- END OF COL    -->

  </div>
</div>


<!-------------------------YOU SHOULD KNOW----------------------------------->

<div class="you__should__know container my-4 p-3">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-8 col-lg-4">
      <div class="img-fluid text-center">
        <img src="../../../../assets/imgs/undraw_new_ideas_jdea.svg"/>
      </div>
    </div>
    <div class="col-10  col-lg-8">
      <h2>You should know</h2>
      <p>If you add a photo to your report, you increase <span>by more than 50%</span> your chances of
        finding your lost item</p>
    </div>
  </div>
</div>


<!--------------------------------------------------------------------------->
<section class="numbers pb-5 ">
  <div class="container pt-5">
    <h1>FIND ME IN NUMBERS</h1>

    <div class=" row no-gutters text-center pt-2 findmeNum">

      <div class=" col-lg-4 col-md-12 border ">

        <div class="border-bottom py-3">
          <img src="../../../../assets/imgs/undraw_post_online_dkuk (1).svg" class="my-2"/>

          <h2 class="num">20K+</h2>
          <p class="p1">Items every month</p>
        </div>
        <div class="number py-3">
          <img src="../../../../assets/imgs/undraw_buy_house_560d.svg" class="my-2"/>
          <h2 class="num">30+</h2>
          <p class="p1">Cities in action</p>
        </div>

      </div>

      <div class="col-lg-4 col-md-12 pt-5 border d-flex justify-content-center align-items-center">
        <div class="num-mine">
          <i class="fas fa-3x fa-star star-mine"></i>
          <i class="fas fa-3x fa-star star-mine"></i>
          <i class="fas fa-3x fa-star star-mine"></i>
          <i class="fas fa-3x fa-star star-mine"></i>
          <i class="fas fa-3x fa-star star-mine"></i>
          <h2 class="num mt-3">3K+</h2>
          <p class="p1">User reviews to</p>
          <h2 class="num">5/5</h2>
        </div>

      </div>

      <div class=" col-lg-4 col-md-12 border">

        <div class="border-bottom py-3">
          <img src="../../../../assets/imgs/undraw_fans_gr54.svg" class="my-2"/>
          <h2 class="num mt-3">200+</h2>
          <p class="p1">Partner places</p>
        </div>
        <div class="number py-3">
          <img src="../../../../assets/imgs/undraw_feeling_happy_jymo.svg" class="my-2"/>
          <h2 class="num">200+</h2>
          <p class="p1">Smiles a day</p>
        </div>

      </div>

    </div>

  </div>
</section>


<section class="founders mt-5">

  <div class="container">
    <h1 class=" text-center founder-head">FOUNDERS TEAM</h1>

    <div class=" row mt-5 text-center justify-content-center">

      <div class="col-lg-4 col-md-6 col-sm-12 pb-5">

        <div class="member border py-5">
          <img src="../../../../assets/imgs/undraw_stand_out_1oag.svg" class=" img-fluid " alt="Poula Helmy"/>
          <h2 class="founder-head my-3">Poula Helmy</h2>
          <h4 class="founder-head">Founder/CEO</h4>
          <p class="p1">poula.helmy@la2eny.com</p>
          <a href="https://www.facebook.com/" target="_blank"><i
            class="fab fa-3x fa-facebook icon-mine2"></i></a>

        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 pb-5">

        <div class="member border py-5">
          <img src="../../../../assets/imgs/undraw_stand_out_1oag.svg" class=" img-fluid " alt="Beshoy Melad"/>
          <h2 class="founder-head my-3">Beshoy Melad</h2>
          <h4 class="founder-head">Founder/CEO</h4>
          <p class="p1">beshoy.melad@la2eny.com</p>
          <a href="https://www.facebook.com/" target="_blank"><i
            class="fab fa-3x fa-facebook icon-mine2"></i></a>

        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 pb-5">

        <div class="member border py-5">
          <img src="../../../../assets/imgs/undraw_stand_out_1oag.svg" class=" img-fluid " alt="Bashar Reda"/>
          <h2 class="founder-head my-3">Bashar Reda</h2>
          <h4 class="founder-head">Founder/CEO</h4>
          <p class="p1">bashar.reda@la2eny.com</p>
          <a href="https://www.facebook.com/" target="_blank"><i
            class="fab fa-3x fa-facebook icon-mine2"></i></a>

        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 pb-5">

        <div class="member border py-5">
          <img src="../../../../assets/imgs/undraw_stand_out_1oag.svg" class=" img-fluid" alt="Hossam Mahmoud"/>
          <h2 class="founder-head my-3">Hossam Mahmoud</h2>
          <h4 class="founder-head">Founder/CEO</h4>
          <p class="p1">hossam.mahmoud@la2eny.com</p>
          <a href="https://www.facebook.com/" target="_blank"><i
            class="fab fa-3x fa-facebook icon-mine2"></i></a>

        </div>

      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 pb-5">

        <div class="member border py-5">
          <img src="../../../../assets/imgs/undraw_stand_out_1oag.svg" class=" img-fluid" alt="Beshoy Medhat"/>
          <h2 class="founder-head my-3">Beshoy Medhat</h2>
          <h4 class="founder-head">Founder/CEO</h4>
          <p class="p1">beshoy.medhat@la2eny.com</p>
          <a href="https://www.facebook.com/" target="_blank"><i
            class="fab fa-3x fa-facebook icon-mine2"></i></a>

        </div>

      </div>
    </div>
  </div>
</section>
