$firstColor:#00BFA6;
$secondColor:#F9A826;

.mat-form-field {
  font-size: 14px;
  width: 75%;
  margin: 15px;
}
.mat-form-field-flex {
  width: 80% !important;
}
.mat-hint {
  font-size: 14px;
}
.inputs-validators-content {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.inputs-options {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.inputs-options-content {
  border: 1px dashed black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 35%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.radio-found {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.parent-images {
  position: relative;
}

//-----------------------------------------found-lost-----------------------------------

/* CONTAINERS */

.container {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 32.26%; max-width: 32.26%;}


/* COLUMNS */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

.form label{
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 26px;
	text-align: center;
	height: 150px;
	line-height: 150px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	border: 1px solid white;
	background-color: $firstColor;
}

.form .plan input:checked + label:after, form .payment-plan .input:checked + label:after, .form .payment-type input:checked + label:after{
	content: "\2713";
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	border: 3px solid white;
	background-color: $firstColor;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}
//-----------------------------------------------------------------------------
.addBtn
{
  background-color: $firstColor;
}
.imgCat
{
  width: 10%;
  height: 10%;
}
.catCard:hover
{
  background-color: $firstColor;
  color: white;
}