<div class="container my-4">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="my-4">
    <mat-card-header>
      <mat-card-title>Person Matched To The Image</mat-card-title>
      <mat-card-subtitle
      >Please check The Data And Then You Can Make Request To This
        Person
      </mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="col-12">
            <mat-selection-list [multiple]="false">
              <mat-list-option class="my-2 py-2">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Person Status
                  </div>
                  <div class="left-content">
                    {{
                    itemDetails["is_found"] === 1
                      ? "Founded Person"
                      : "Losted Person"
                    }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Name
                  </div>
                  <div class="left-content">
                    {{ itemDetails["name"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Gender
                  </div>
                  <div class="left-content">
                    {{ itemDetails["subcat"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Location
                  </div>
                  <div class="left-content">
                    {{ itemDetails["location"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Description
                  </div>
                  <div class="left-content">
                    {{ itemDetails["description"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Date
                  </div>
                  <div class="left-content">
                    {{ itemDetails["date"] }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option"
                               *ngFor="let option of itemDetails['dynamicValues'];let i = index">
                <div class="items-list-contanier">
                  <div class="right-content">
                    {{ option[0]["name"] }}
                  </div>
                  <div class="left-content">
                    {{ option[0]["value"] }}
                  </div>
                </div>
                <mat-divider></mat-divider>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option"
                               *ngFor="  let question of itemDetails['AllQuestions']; let i = index  ">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Question#  {{  i + 1 }}
                  </div>
                  <div class="left-content">
                    {{ question[0]["name"] }}
                  </div>
                </div>
                <mat-divider></mat-divider>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Created_AT
                  </div>
                  <div class="left-content">
                    {{ itemDetails["created_at"] | date }}
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    Actions
                  </div>
                  <div class="left-content">
                    <button
                      class="matBtn"
                      color="accent"
                      mat-raised-button
                      aria-label="Request This Person"
                      matTooltip="Request This Person"
                      matTooltipPosition="left"
                      (click)="makeRequest(itemDetails['id'])"
                    >
                      Create Request
                    </button>
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option class="mat-list-option">
                <div class="items-list-contanier">
                  <div class="right-content">
                    IF This Person Not Matching
                  </div>
                  <div class="left-content">
                    <button
                      class="matBtn"
                      color="warn"
                      mat-raised-button
                      aria-label="Add Person"
                      matTooltip="Add Person"
                      matTooltipPosition="left"
                      [routerLink]="['/dashboard/humans/persons/create']"
                    >
                      Add Person
                    </button>
                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
            </mat-selection-list>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <owl-carousel-o [options]="customOptions" (initialized)="getData($event)">
              <ng-container *ngFor="let image of itemDetails['images']">
                <ng-template carouselSlide [id]="image[0]['id']">
                  <img
                    matCardImage
                    [src]="image[0]['src']"
                    [alt]=""
                    [title]=""
                    class="img-fluid carusel-image"
                  />
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
