<div class="container my-4">
  <mat-card class="my-2">
    <mat-card-header>
      <mat-card-title>Incoming Requests</mat-card-title>
      <mat-card-subtitle
        >All Of My Incoming Requests and all Actions</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let request of requests">
          <div class="items-list-contanier">
            <div class="right-content">
              <mat-chip-list aria-label="Request Status">
                <mat-chip color="primary" selected>{{ request.name }}</mat-chip>
                <mat-chip color="accent" *ngIf="request.status == 1" selected
                  >Request Approved</mat-chip
                >
                <mat-chip
                  color="accent"
                  [routerLink]="['/dashboard/chats/', request.id]"
                  *ngIf="request.status == 1"
                  selected
                  >Chat...</mat-chip
                >
                <mat-chip color="warn" *ngIf="request.status == 0" selected
                  >Pending</mat-chip
                >
                <mat-chip color="warn" *ngIf="request.status == -1" selected
                  >Request rejected</mat-chip
                >
              </mat-chip-list>
            </div>
            <div class="left-content">
              <button
                class="matBtn"
                mat-icon-button
                color="accent"
                aria-label="Approve This Request"
                matTooltip="Approve This Request"
                matTooltipPosition="left"
                (click)="approveRequest(request.id, 1)"
              >
                <mat-icon>done_outline</mat-icon>
              </button>
              <button
                class="matBtn"
                mat-icon-button
                color="accent"
                aria-label="Reject This Request"
                matTooltip="Reject This Request"
                matTooltipPosition="left"
                (click)="approveRequest(request.id, -1)"
              >
                <mat-icon>clear</mat-icon>
              </button>
              <button
                class="matBtn"
                mat-icon-button
                color="primary"
                aria-label="Request Item"
                matTooltip="Request Item"
                matTooltipPosition="left"
                [routerLink]="['/dashboard/increquests/view', request.id]"
                routerLinkActive="router-link-active"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
</div>
