<div class="container my-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DashBoard Control</mat-card-title>
      <mat-card-subtitle>Here All Actions You Need</mat-card-subtitle>
      <div class="spacer"></div>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          <button
            class="m-2"
            mat-button
            color="accent"
            aria-label="Search For Item"
            matTooltip="Search For Item"
            matTooltipPosition="above"
            [routerLink]="['/dashboard/items/test']"
            routerLinkActive="router-link-active"
          >
            <mat-icon>model_training</mat-icon>
            Search For Item
          </button>
        </mat-list-option
        >
        <mat-list-option>
          <button
            class="m-2"
            mat-button
            color="warn"
            aria-label="Identfy Person"
            matTooltip="Identfy Person"
            matTooltipPosition="above"
            [routerLink]="['/dashboard/humans/persons/identfy']"
            routerLinkActive="router-link-active"
          >
            <mat-icon>perm_identity</mat-icon>
            Search For Person By Image
          </button>
        </mat-list-option
        >
      </mat-selection-list
      >
    </mat-card-content>
    <mat-card-actions class="bts-controls">
      <button
        class="m-2"
        mat-button
        color="primary"
        aria-label="Add Item"
        matTooltip="Add Item"
        matTooltipPosition="above"
        [routerLink]="['/dashboard/items/create']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>add_box</mat-icon>
        Add Item
      </button>
      <button
        class="m-2"
        mat-button
        color="primary"
        aria-label="Add Person"
        matTooltip="Add Person"
        matTooltipPosition="above"
        [routerLink]="['/dashboard/humans/persons/create']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>add_box</mat-icon>
        Add Person
      </button>
    </mat-card-actions>
  </mat-card>

</div>
